.fc-daygrid-day {
  height: 90px;
  @media (max-width: 600px) {
    height: 70px;
  }
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: 1px solid #2f2f2f;
}

.fc .fc-scrollgrid {
  border: 1px solid #2f2f2f;
}

.fc .fc-col-header {
  background: #f7f7f7;
}

.fc .fc-col-header-cell-cushion {
  padding: 12px 0;
  font-size: 12px;
  font-weight: 700;
  color: #363636;
}

.fc .fc-daygrid-day-number {
  font-size: 12px;
  color: #777777;
  padding: 6px 8px;
}

.fc .fc-daygrid-day-frame {
  padding: 6px;
}

.fc .fc-daygrid-day.fc-day-today {
  background: #faf2f2;
}

.event-pill {
  background: #b02929;
  color: white;
  padding: 8px 8px;
  font-size: 12px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 97px;
  width: 100%;
}
.event-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;

  width: 100%;
}

.fc-daygrid-event {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
}

.fc-toolbar-title {
  font-size: 22px !important;
  font-weight: 500;
}
.fc-event-main {
  display: flex;
  justify-content: center;
}

.fc-view-harness {
  min-height: 570px !important;
}
.fc .fc-timegrid-divider {
  padding: 0px !important;
}
